.nav-item a, .nav-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.nav-item a:hover, .nav-link:hover {
    color: black;
}

.dropdown-menu {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

