/*form login*/

.form-container div, .form-container span {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.form-container ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #999;
}

.form-container :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}

.form-container ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}

.form-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
}

.form-container :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #999;
}

.oauth-buttons {
    text-align: center;
}

/*.row {*/
/*    text-align:center;*/
/*}*/
#login-form {
    min-width: 375px;
}

.login-container {
    width: 400px;
    height: 330px;
    display: inline-block;
    margin-top: -165px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -200px;
}

.form-container .create-account:hover {
    opacity: .7;
}

.form-container .create-account {
    color: inherit;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.oauth-buttons .fa {
    cursor: pointer;
    margin-top: 10px;
    color: inherit;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    margin-top: 15px;
}

.oauth-buttons .fa:hover {
    color: white;
}

.oauth-buttons .fa-google-plus:hover {
    background: #dd4b39;
}

.oauth-buttons .fa-facebook:hover {
    background: #8b9dc3;
}

.oauth-buttons .fa-linkedin:hover {
    background: #0077b5;
}

.oauth-buttons .fa-twitter:hover {
    background: #55acee;
}

.form-container .req-input .input-status {
    display: inline-block;
    height: 1px;
    width: 40px;
    float: left;
}

.form-container .input-status::before {
    content: " ";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    border-radius: 50%;
    background: white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.form-container .input-status::after {
    content: " ";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    border-radius: 50%;
    background: #00BCD4;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container .req-input {
    width: 100%;
    float: left;
    position: relative;
    background: #00BCD4;
    height: 40px;
    display: inline-block;
    border-radius: 0px;
    margin: 5px 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container div .row .invalid:hover {
    background: #EF9A9A;
}

.form-container div .row .invalid {
    background: #E57373;
}

.form-container .invalid .input-status:before {
    width: 20px;
    height: 4px;
    top: 19px;
    left: 10px;
    background: white; /*#F44336;*/
    border-radius: 0px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.form-container .invalid .input-status:after {
    width: 20px;
    height: 4px;
    background: white;
    border-radius: 0px;
    top: 19px;
    left: 10px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.form-container div .row .valid:hover {
    background: #A5D6A7;
}

.form-container div .row .valid {
    background: #81C784;

}

.form-container .valid .input-status:after {
    border-radius: 0px;
    width: 17px;
    height: 4px;
    background: white;
    top: 16px;
    left: 15px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-container .valid .input-status:before {
    border-radius: 0px;
    width: 11px;
    height: 4px;
    background: white;
    top: 19px;
    left: 10px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-container .input-container {
    padding: 0px 20px;
}

.form-container .row-input {
    padding: 0px 5px;
}

.form-container .req-input.input-password {
    margin-bottom: 0px;
}

.form-container .req-input.confirm-password {
    margin-top: 0px;
}

.form-container {
    margin: 70px 257px;
    padding: 20px;
    border-radius: 0px;
    background: #B3E5FC;
    color: #00838F;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container .form-title {
    font-size: 25px;
    color: inherit;
    text-align: center;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container .submit-row {
    padding: 0px 0px;
}

.form-container .btn.submit-form {
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding:12px;*/
    background: #00BCD4;
    color: white;
    border-radius: 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container .btn.submit-form:focus {
    outline: 0px;
    color: white;
}

.form-container .btn.submit-form:hover {
    background: #00cde5;
    color: white;
}

.form-container .tooltip.top .tooltip-arrow {
    border-top-color: #00BCD4 !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-arrow {
    border-top-color: #E57373 !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-inner::before {
    background: #E57373;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-inner {
    background: #FFEBEE !important;
    color: #E57373;
}

.form-container .tooltip.top.tooltip-valid .tooltip-arrow {
    border-top-color: #81C784 !important;
}

.form-container .tooltip.top.tooltip-valid .tooltip-inner::before {
    background: #81C784;
}

.form-container .tooltip.top.tooltip-valid .tooltip-inner {
    background: #E8F5E9 !important;
    color: #81C784;
}

.form-container .tooltip.top .tooltip-inner::before {
    content: " ";
    width: 100%;
    height: 6px;
    background: #00BCD4;
    position: absolute;
    bottom: 5px;
    right: 0px;
}

.form-container .tooltip.top .tooltip-inner {
    border: 0px solid #00BCD4;
    background: #E0F7FA !important;
    color: #00ACC1;
    font-weight: bold;
    font-size: 13px;
    border-radius: 0px;
    padding: 10px 15px;
}

.form-container .tooltip {
    max-width: 150px;
    opacity: 1 !important;
}

.form-container .message-box {
    width: 100%;
    height: auto;
}

.form-container textarea:focus, .form-container textarea:hover {
    background: #fff;
    outline: none;
    border: 0px;
}

.form-container .req-input textarea {
    max-width: calc(100% - 50px);
    width: 100%;
    height: 80px;
    border: 0px;
    color: #777;
    padding: 10px 9px 0px 9px;
    float: left;

}

.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=email]:focus, .form-container input[type=tel]:focus, .form-container select {
    background: #fff;
    color: #777;
    border-left: 0px;
    outline: none;
}

.form-container input[type=text]:hover, .form-container input[type=password]:hover, .form-container input[type=email]:hover, .form-container input[type=tel]:hover, . form-container select {
    background: #fff;
}

.form-container input[type=text], .form-container input[type=password], .form-container input[type=email], input[type=tel], form-container select {
    width: calc(100% - 50px);
    float: left;
    border-radius: 0px;
    border: 0px solid #ddd;
    padding: 0px 9px;
    height: 40px;
    line-height: 40px;
    color: #777;
    background: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/**/

body, h1, h2, h3, h4, h5, h6 {
    /*font-family: "Raleway", sans-serif*/
    font-family: "Segoe UI", Arial, sans-serif;
}

.w3-top {
    position: fixed;
    z-index: 9000
}

body, html {
    height: 100%;
    line-height: 1.0;
}


.w3-bar .w3-button {
    padding: 16px;
}

.w3-padding-32 {
    padding-bottom: 32px !important;
}


.w3-padding-32 {
    padding-bottom: 32px !important;
}

/*.w3-padding-large {*/
/*    padding: 0px 24px !important;*/
/*}*/

/*#footer {*/
/*    overflow: hidden;*/
/*    padding: 77px 0 20px;*/
/*    color: #999999;*/
/*    background-color: #232323;*/
/*}*/

.middle {
    text-align: center;
}

.btn-middle {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 70%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn-middle i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
    color: #145a68;
}

.btn-middle:hover i {
    transform: scale(1.3);
    color: #4267b2;
}

.btn-middle:before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn-middle::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
    }
}

.mySlides {
    display: none;
}

#footer {
    overflow: hidden;
    padding: 10px 12px 10px;
    color: #999999;
    background-color: #232323;
}

.clear {
    clear: both;
}

.product-grid6, .product-grid6 .product-image6 {
    overflow: hidden
}

.product-grid6 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
    transition: all .5s ease 0s
}

.product-grid6:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.product-grid6 .product-image6 a {
    display: block
}

.product-grid6 .product-image6 img {
    width: 100%;
    height: auto;
    transition: all .5s ease 0s
}

.product-grid6:hover .product-image6 img {
    transform: scale(1.1)
}

.product-grid6 .product-content {
    padding: 12px 12px 15px;
    transition: all .5s ease 0s
}

.product-grid6:hover .product-content {
    opacity: 0
}

.product-grid6 .title {
    font-size: 20px;
    height: 60px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid6 .title a {
    color: #000
}

.product-grid6 .title a:hover {
    color: #2e86de
}

.product-grid6 .price {
    font-size: 18px;
    font-weight: 600;
    color: #2e86de
}

.product-grid6 .price span {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 7px;
    display: inline-block
}

.product-grid6 .social {
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transition: all .5s ease 0s
}

.product-grid6:hover .social {
    opacity: 1;
    bottom: 20px
}

.product-grid6 .social li {
    display: inline-block
}

.product-grid6 .social li a {
    color: #909090;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    margin: 0 7px;
    border: 1px solid #909090;
    border-radius: 50px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}

.product-grid6 .social li a:hover {
    color: #fff;
    background-color: #2e86de;
    width: 80px
}

.product-grid6 .social li a:after, .product-grid6 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #2e86de;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid6 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}

.product-grid6 .social li a:hover:after, .product-grid6 .social li a:hover:before {
    opacity: 1
}

@media only screen and (max-width: 990px) {
    .product-grid6 {
        margin-bottom: 30px
    }
}

.headline_outer {
    border-bottom-width: 1px;

}

.headline_outer .headline_color {
    width: 100%;
    height: 100%;
    position: absolute;

}

.headline_outer .headline_inner {
    padding: 150px 10px;
    position: relative;
    z-index: 1;
}

.headline_outer .headline_inner .headline_aligner {
    display: inline-block;
    vertical-align: middle;
}

.headline_outer .headline_inner .headline_text {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.headline_outer .headline_inner .headline_text:before {
    width: 1em;
    height: 1em;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.headline_outer .headline_inner .headline_text h1 {
    margin: 0;
    padding-top: 20px;
}

.headline_outer .headline_inner .headline_text h5 {
    margin: -5px 0 0;
}

.headline_outer .headline_inner.align_left {
    text-align: left;
}

.headline_outer .headline_inner.align_left .headline_text {
    text-align: left;
}

.headline_outer .headline_inner.align_left .headline_text:before {
    right: auto;
}

.headline_outer .headline_inner.align_right {
    text-align: right;
}

.headline_outer .headline_inner.align_right .headline_text {
    text-align: right;
}

.headline_outer .headline_inner.align_right .headline_text:before {
    left: auto;
}

.headline_outer .headline_inner.align_center {
    text-align: center;
}

.headline_outer .headline_inner.align_center .headline_text {
    text-align: center;
}

.headline_outer .headline_inner.align_center .headline_text:before {
    bottom: auto;
}

.headline_outer {
    background-image: url(https://eco-nature.cmsmasters.net/wp-content/uploads/2014/07/bg-prlx-big-11.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.headline_color {
    background-color: #000000;
    opacity: 0;
}

.headline_aligner {
    min-height: 150px;
}

.w3-padding-64 {
    padding-top: 0px !important;
    padding-bottom: 64px !important;
}

footer {
    padding-top: 35px;
    color: #fff;
    background-attachment: fixed;
    background-color: #222;
    background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
    background-size: cover;
    background-position: bottom;
}

.social-pet{
    margin-top: 5px;
}

.iconfooter {
    margin-top: 10px;
}

footer p {
    color: #ccc;
}

footer a {
    color: #ccc;
}

.social-pet li {
    display: inline-block;
    margin-right: 10px;
}

.social-pet li a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 35px;
    background-color: #3a5a95;
    color: #fff;
}

.social-pet li:nth-child(2) a {
    background-color: #57aced;
}

.social-pet li:nth-child(3) a {
    background-color: #dd4f43;
}

.social-pet li:nth-child(4) a {
    background-color: #6b27b2;
}

.social-pet li a:hover {
    background-color: #0141a2;
}

.social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.recent-post li {
    display: block;
    color: #ccc;
    margin-bottom: 25px;
}

.recent-post li label {
    border: 2px solid #ccc;
    padding: 1px 7px;
    text-align: center;
}

.recent-post li label span {
    color: #fff;
}

footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px;
}

.f-address li {
    display: inline-block;
}

.f-address li i {
    color: #2995de;
    font-size: 18px;
}

.f-address li a {
    color: #ccc;
}

/*=-Copyright-=*/
.copyright {
    background-color: #111;
    padding: 12px 0;
    font-size: 14px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 { grid-area: 1 / 3 / 2 / 4; }
.item2 { grid-area: 2 / 3 / 3 / 4; }
.item3 { grid-area: 1 / 1 / 2 / 2; }
.item4 { grid-area: 1 / 2 / 2 / 3; }
.item5 { grid-area: 2 / 1 / 3 / 2; }
.item6 { grid-area: 2 / 2 / 3 / 3; }

